body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h2 {
    font-size: 3em;
    font-weight: 400;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    text-align: center;

    nav {
        background-color: #FFF;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        position: fixed;
        width: 100%;
    }

    li {
        display: inline-block;
        margin: .5em 2em;

        a {
            font-size: 1em;
            text-decoration: none;
            color: #000;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .hero img {
        width: 100%;
    }
}

.prestations {
    width: 80em;
    margin: 3em auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s cubic-bezier(.25,.8,.25,1);
    img {
        width: 30%;
    }

    .text-prestations {
        padding: 0 1em;
    }
}

.neon {
    color: #FFF;
    text-shadow:
      0 0 5px rgb(244, 123, 255),
      0 0 10px rgb(244, 123, 255),
      0 0 150px rgb(244, 114, 255),
}

.prestations:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sourcils {
    flex-direction: row-reverse;
}